<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zt.dao.inner.InviTationDaoI">

    <resultMap id="InviTation" type="com.zt.entity.InviTation" autoMapping="true">

    </resultMap>

    <!--private long id;-->
    <!--private int type;//帖子类别-->
    <!--private String title;//帖子标题-->
    <!--private String content;//帖子内容-->
    <!--private int likeNum;//用户喜欢数-->
    <!--private Date creTime;//创建时间-->
    <!--private int jugeNum;//用户评论数-->
    <!--private int userId;//用户id-->
    <!--private String userName;//用户名-->
    <!--private String userIcon;//用户头像-->


    <resultMap id="InviWithDetailImg" type="com.zt.model.InviWithDetailImg">
        <id column="id" property="id"/>
        <result column="type" property="type"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="likeNum" property="likeNum"/>
        <result column="creTime" property="creTime"/>
        <result column="jugeNum" property="jugeNum"/>
        <result column="userId" property="userId"/>
        <result column="userName" property="userName"/>
        <result column="userIcon" property="userIcon"/>

        <collection property="detailImgs" ofType="com.zt.entity.DetailImg">

            <result property="imgUrl" column="imgUrl"/>
        </collection>
    </resultMap>


    <select id="getAllInvi" resultType="com.zt.entity.InviTation">
        SELECT * from inviTation order by creTime DESC
    </select>

    <insert id="insertInvi" parameterType="com.zt.entity.InviTation">
        INSERT into inviTation(
          type,
          title,
          content,
          userId,
          userName,
          userIcon
        ) VALUE (
          #{type},
        #{title},
        #{content},
        #{userId},
        #{userName},
        #{userIcon}
        )
    </insert>

    <select id="getIdByTitle" parameterType="string" resultType="long">
        SELECT id FROM inviTation where title=#{title}
    </select>
    <!--使用左连接避免当细节图没有就不显示的状况-->
    <select id="getInviByType" parameterType="int" resultMap="InviWithDetailImg" >
          select * from
          inviTation left join detailImg
          on inviTation.id=detailImg.inviId
          where inviTation.type=#{type}
    </select>

    <!--该条帖子的点赞数+1-->

    <update id="likeNumAdd1" >
        UPDATE inviTation set likeNum = likeNum+1 where id=#{inviId}
    </update>
    <!--该帖的点赞数-1-->
    <update id="likeNumSub1">
        UPDATE inviTation set likeNum = likeNum-1 where id=#{inviId}
    </update>

    <select id="getInviId" parameterType="long" resultMap="InviWithDetailImg">
        SELECT * from inviTation
         left join detailImg on
         inviTation.id=detailImg.inviId
          where inviTation.id=#{inviId}
    </select>


    <update id="viewNumAdd1" parameterType="long" >
        UPDATE inviTation set viewNum = viewNum+1 where id=#{inviId}
    </update>


</mapper>