<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zt.dao.inner.SchoolNameDaoI">

    <resultMap id="User" type="com.zt.entity.SchoolName" autoMapping="true">

    </resultMap>

    <select id="getSchoolNameByPID" resultType="com.zt.entity.SchoolName" parameterType="int">
        SELECT * from schoolName where pId=#{pId}
    </select>


</mapper>