<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zt.dao.inner.StuDaoI">

    <resultMap id="User" type="com.zt.entity.Stu" autoMapping="true">

    </resultMap>

    <select id="getAll" resultType="com.zt.entity.Stu">
        SELECT * from stu
    </select>
    <!--插入一条用户记录-->
    <insert id="insertStu">
        INSERT into stu(
           userName,
           pwd,
           phoneNum,
           school
        )VALUE (
        #{userName},
        #{pwd},
        #{phoneNum},
        #{school}
        )
    </insert>
    <!--用户注册时判断用户名是否已经被占用-->
    <select id="checkUserName" parameterType="string" resultType="int">
        SELECT count(*) fron stu where userName = #{userName}
    </select>

</mapper>