<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zt.dao.inner.StuDaoI">

    <resultMap id="User" type="com.zt.entity.Stu" autoMapping="true">

    </resultMap>

    <select id="getAll" resultType="com.zt.entity.Stu">
        SELECT * from stu
    </select>
    <!--插入一条用户记录-->
    <insert id="insertStu">
        INSERT into stu(
           userName,
           pwd,
           phoneNum,
           school
        )VALUE (
        #{userName},
        #{pwd},
        #{phoneNum},
        #{school}
        )
    </insert>
    <!--用户注册时判断用户名是否已经被占用-->
    <select id="checkUserName" parameterType="string" resultType="int">
        SELECT count(*) from stu where userName = #{userName}
    </select>
    <!--用户登录，判断用户名和密码是否正确-->
    <select id="login" resultType="int">
        SELECT COUNT(*) from stu where phoneNum=#{phoneNum} and pwd=#{pwd}
    </select>

    <!--判断手机号是否已经被占用-->
    <select id="checkPhoneNum" resultType="int" parameterType="string">
        SELECT count(*) from stu where phoneNum=#{phoneNum}
    </select>
    <!--根据手机号获取一个学生的信息-->
    <select id="getStuByPhoneNum" parameterType="string" resultType="com.zt.entity.Stu">
        SELECT * from stu where phoneNum = #{phoneNum}
    </select>

    <select id="checkBackLogin" resultType="int">
        SELECT count(*) from stu
        where
        phoneNum=#{phoneNum}
        and pwd=#{pwd}
        and isAdmin='1'
    </select>

    <select id="getAllCommonUser" resultType="com.zt.entity.Stu">
        SELECT * from stu where isAdmin='0'
    </select>

    <update id="UpUser" parameterType="long">
        UPDATE stu set isAdmin = '1' where id =#{userId}
    </update>

    <delete id="deleteUser" parameterType="long">
        DELETE from stu where id=#{userId}
    </delete>

    <update id="updateAge">
        UPDATE stu set age=#{age} where id=#{userId}
    </update>

    <update id="updateGender">
         UPDATE stu set gender=#{gender} where id=#{userId}
    </update>

    <update id="updateMsg">
        UPDATE stu set msg=#{msg} where id=#{userId}
    </update>

    <update id="updateIcon">
        UPDATE stu set icon=#{icon} where id=#{userId}
    </update>

</mapper>